# Reading  data inside the notebook

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('cubic_zirconia.csv')

In [3]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

## Checking for data quality

In [4]:
df.isnull().sum()

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

## Removing records having null values

In [5]:
df=df.dropna()

In [6]:
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
x             0
y             0
z             0
price         0
dtype: int64

## Performing Univariate, Bivariate and Multivariate Analysis using dtale libraray

In [13]:
import dtale

In [14]:
dtale.show(df)

### Interpretation from univariate analysis

#### CARAT : The carat of cubic zerconi manufactured here ranges from 0.2 to 4.5 in which the more manufactured gemstone's carat is between 0.4 to 1.05 and we also have some 75 exceptional gemstones which are manufactured at carat ranging between 2 to 4.5.

#### CUT: The cut characterstics of cubic zirconia gemstones fall into 4 category and they are
             Ideal->10546
             Premium->6707
             Very Good->5878
             Good->2382
             Fair->757
   From the above data its clear to interpret that most the cubic zirconia are manufactured by Ideal,Premium and Very Good cut.
   
#### Color: The color of cubic zirconia is measured as per the Diamond color grading scale ranging from D to J corresponding to best to worst and the number of gemstones manufactured in different grading scale is as follows:
             D-3268
             E-4793
             F-4612
             G-5529
             H-3991
             I-2676
             J-1401
            From the above data is clear to interpret that the number of manufactures in D color grade is 3268 which is very low as compared to E,F,G color grades which each has the number range of 4500 to 5000 approximately.
            
#### Clarity: The clarity grading of cubic zirconia is based on structural imperfections denoted as blemishes and inclusions and they are categorized into various groups based on inclusion:
              SI1 (6408)
              VS2 (5925)
              SI2 (4447) 
              VS1 (3991) 
              VVS2 (2479)
              VVS1 (1791) 
              IF (874)
              I1 (355)
              
#### Depth : The depth  of cubic zirconia ranges between 50 to 73 and interquartile range or middle 50 percent of the data points                                  lies between 61 to 62.5

#### Table: The table values of cubic zirconia ranges between 49 to 79 and interquartile range or middle 50 percent of the data                                    points lies between 56 to 59

#### Length(x): The length  of cubic zirconia ranges between 0 to 10.23 and interquartile range or middle 50 percent of the data points                                lies between 4.7 to 6.55

#### Width(y): The widthof cubic zirconia ranges between 0 to 58.9 and interquartile range or middle 50 percent of the data                                                points lies between 4.72 to 6.94

#### Height(z): The height of cubic zirconia ranges between 0 to 8 and interquartile range or middle 50 percent of the data                                                            points lies between 2.9 to 4.4

#### PRICE: The prices of cubic zirconia ranges between 326 to 18818 and the middle 50 percent of the gem stones have price range:
                 945 TO 5361
                 and as per the frequency distribution, the number of cubic zirconia and its prices are:
                 1250->8916
                 2175->3500
                 3000->2600   covering most of the manufactured stones and
                 
                 few have very high rates and the amount of manufacturing units are also small.

### Pearson correlation table

In [15]:

import numpy as np


if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

corr_cols = [
	 'carat', 'depth', 'table', 'x', 'y', 'z',
	'price'
]
corr_data = df[corr_cols]
corr_data = np.corrcoef(corr_data.values, rowvar=False)
corr_data = pd.DataFrame(corr_data, columns=[corr_cols], index=[corr_cols])
corr_data.index.name = str('column')
corr_data = corr_data.reset_index()

In [16]:
corr_data

,level_0,carat,depth,table,x,y,z,price
0,carat,1.000000,0.035364,0.181771,0.976298,0.940101,0.969338,0.922134
1,depth,0.035364,1.000000,-0.298011,-0.018715,-0.024735,0.101624,-0.002569
2,table,0.181771,-0.298011,1.000000,0.196156,0.182176,0.155429,0.126587
3,x,0.976298,-0.018715,0.196156,1.000000,0.961753,0.985748,0.885990
4,y,0.940101,-0.024735,0.182176,0.961753,1.000000,0.956434,0.855165
5,z,0.969338,0.101624,0.155429,0.985748,0.956434,1.000000,0.876229
6,price,0.922134,-0.002569,0.126587,0.885990,0.855165,0.876229,1.000000

#### From the above PEARSON CORRELATIONS table its clear to interpret that:
     
    -->As Carat of the cubic zirconia is highly correlated with length(x),width(y),height(h) and price of it, Carat of the gem  stone is an essential aspect while decision is made by customers with respect to dimension and price of the same.As           from the univariate analysis its shows that there is lot manufacturing happening in the carat range of 0.4 to 1.05, to         maximize the profit and income to the business: *company has to increase the carat value with more manufactured units*.
     
    --->Depth is slightly negatively correlated with price and as most were manufactured with higher value of depth with the    frequency of 9000 on depth of 62 and 7000 on depth of 63, the company should find ways to make gem stones with less depth as possible to decrease the loss and move towards profit gain.
    
    --->Table values are very slightly correlated with all the other features and does not add much to our analysis.
    
    ---> Length(x),breadth(y) and Height(z) varies positive linearly with price of the cubic zirconia, so to maximize the profit : *Company should start manufacturing more gem stones with bigger dimensions as much as possible*.
    
    ---> Price can be increased with increase in carat and dimensions of the cubic zirconia.